aiohttp
anytree
aria2p
appdirs
attrdict
beautifulsoup4
cloudscrape
feedparser
ffmpeg-python==0.2.0
gTTS
googletrans==4.0.0-rc1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
hachoir
heroku3
httpx[http2]
js2py
jikanpy
lk21
lxml
pillow
psutil
psycopg2-binary
pybase64
pyrogram
pyshorteners
python-dotenv
python-magic
python-telegram-bot
qbittorrent-api
requests
speedtest-cli
textwrap3==0.9.2
telegraph
tenacity
TgCrypto
torrentool==1.1.0
urllib3
youtube_search
youtube-search-python
youtube_dl
